[mongo]
host = "localhost"
port = 27017

[s3]
access_key_id = 'ABC123'
secret_access_key = 'xyz987'

[google_cloud_storage]
project_id = 'project-id'
GOOGLE_APPLICATION_CREDENTIALS = '/some/path/to/credentials.json'
